# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Data / models (important for ML)
data/processed/
data/interim/
models/
*.pkl
*.joblib
*.h5

# OS
.DS_Store
Thumbs.db

# Logs
*.log
data/raw/
logs/